body { font-family: Arial; background:#f4f4f4; padding:20px }
header { background:#222; color:#fff; padding:15px }
nav a { color:#fff; margin-right:15px; text-decoration:none }
table { background:#fff; width:100%; margin-top:15px }
input, button { margin:5px }
